APP_NAME=
APP_VERSION=
APP_ENV=
APP_DEBUG=
APP_API_PREFIX=
APP_LOG_LEVEL=

DATABASE_URL=
DATABASE_POOL_SIZE=
DATABASE_MAX_OVERFLOW=
DATABASE_ECHO=

JWT_ALGORITHM=
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=

STORAGE_UPLOAD_DIRECTORY=
STORAGE_MAX_UPLOAD_SIZE=

CORS_ORIGINS=